<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns:tizen="http://tizen.org/ns/widgets" xmlns="http://www.w3.org/ns/widgets" id="http://yourdomain/FindMeTizen" version="1.0.0" viewmodes="maximized">
    <access origin="*" subdomains="true"></access>
    <tizen:application id="g5yEkvfBBP.FindMeTizen" package="g5yEkvfBBP" required_version="2.3"/>
    <content src="login.html"/>
    <feature name="http://tizen.org/feature/screen.size.all"/>
    <icon src="splash.png" height="117" width="117"/>
    <name>FindMe</name>
    <tizen:privilege name="http://tizen.org/privilege/location"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:profile name="mobile"/>
</widget>
